<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	
	<!-- 加载外部属性文件 -->
	<context:property-placeholder location="classpath:jdbc.properties"/>
	
	<!-- 配置数据源 -->
	<bean class="com.alibaba.druid.pool.DruidDataSource" id="dataSource">
		<property name="url" value="${jdbc.url}"></property>
		<property name="username" value="${jdbc.username}"></property>
		<property name="password" value="${jdbc.password}"></property>
		<property name="driverClassName" value="${jdbc.driverClass}"></property>
	</bean>
	
	<!-- 配置sqlsessionFactoryBean整合mybatis -->
	<bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 指定全局配置文件位置 -->
		<property name="configLocation" value="classpath:mybatis/mybatis-config.xml"></property>
		<!-- 指定Mapper配置文件位置 -->
		<property name="mapperLocations" value="classpath:mybatis/mapper/*Mapper.xml"></property>
		<!-- 装配数据源 -->
		<property name="dataSource" ref="dataSource"></property>
		
		<!-- 配置插件 -->
		<property name="plugins">
			<array>
			<!-- 配置分页插件 -->
				<bean class="com.github.pagehelper.PageHelper">
					<property name="properties">
						<props>
						<!-- 配置数据库方言,告诉PageHelper当前使用的数据库 -->
							<prop key="dialect">mysql</prop>
							<!-- 配置页码的合理化修正，在1~总页数之间修正页码 -->
							<prop key="reasonable">true</prop>
						</props>
					</property>
				</bean>
			</array>
		</property>
	</bean>
	
	<!-- 配置MapperScannerConfiguer来扫描Mapper接口所在的包 -->
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer" id="mapperScannerConfigurer">
		<property name="basePackage" value="com.welisit.crowd.mapper"></property>
	</bean>
	

</beans>
